.drawer {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.drawer-component {
    background-color: white;
    width: 600px;
    height: 100%;
}

.drawer-overlay {
    flex: 1;
}