<div class="drawer">
  <div routerLink="/" class="drawer-overlay"></div>
  <div class="shadow drawer-component px-5 py-5">
    <div class="row flex-column justify-content-between h-100">
      <form
        class="row flex-column justify-content-between h-100"
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
      >
        <div class="col">
          <input
            formControlName="name"
            type="text"
            class="form-control mb-4"
            placeholder="Enter todo name"
            style="
              border: 0;
              font-size: xx-large;
              font-weight: bold;
              color: black;
            "
            required
          />
          <div class="container mb-4">
            <div class="row mb-3 align-items-center">
              <label class="col-1 me-3" style="color: lightgray">Tags</label>
              <div class="col" style="color: gray">
                <app-tags formControlName="tagSelector" />
              </div>
            </div>
            <div class="row">
              <label class="col-1 me-3" style="color: lightgray">Date</label>
              <div class="col" style="color: gray">{{ dateToday }}</div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="bi bi-plus-lg m-0" style="color: lightgray"></i>
            </span>
            <input
              formControlName="taskInput"
              type="text"
              class="form-control"
              (keypress)="addTask($event)"
              placeholder="Add Task"
              style="
                padding: 0;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid lightgray;
                color: gray;
              "
            />
          </div>
          <div
            *ngFor="let task of form.get('tasks')?.value; let i = index"
            class="row flex-row align-items-center task-parent"
          >
            <div class="col todo-task py-2 px-3 mb-1" (click)="completeTask(i)">
              <div class="form-check me-3">
                <input
                  class="form-check-input rounded-circle"
                  type="checkbox"
                  [checked]="task.isCompleted"
                  style="cursor: pointer"
                />
              </div>
              <div
                [class]="
                  task.isCompleted ? 'todo-task-complete' : 'todo-task-incomplete'
                "
              >
                {{ task.name }}
              </div>
            </div>
            <div class="delete-hide col-1 px-0 ms-3" style="display: none">
              <button
                (click)="removeTask(i)"
                class="shadow-sm btn btn-sm rounded"
              >
                <i class="bi bi-trash3" style="color: gray"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-1">
          <footer>
            <button
              [disabled]="
                !form.valid ||
                form.get('tasks')?.value?.length == 0 ||
                submitting
              "
              type="submit"
              class="btn btn-primary btn-sm px-3"
            >
              {{ submitting ? "Saving..." : "Save" }}
            </button>
          </footer>
        </div>
      </form>
    </div>
  </div>
</div>
