<div routerLink="/todos/{{todo.id}}" class="card overflow-y-hidden shadow-sm rounded" style="border: 1px solid lightgray; max-height: 220px; height: 220px;">
  <div class="card-body overflow-y-hidden">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="card-title h6">{{todo.name}}</h5>
      <h5 class="card-title h6" style="color: lightgray;">{{todo.tasks?.length || 0}}</h5>
    </div>
    <div *ngIf="todo.tags?.length != 0" class="mb-2">
      <app-tags [defaultValues]="todo.tags" [readOnly]="true" />
    </div>
    <div
    *ngFor="let task of todo.tasks?.slice(0, todo.tags?.length == 0 ? 5 : 3)" 

    >
      <div  
      class="card-task px-2 mb-1"
      [style.background-color]="task.color"
      *ngIf="!task.isArchived"
      >
      <div 
        [class]="task.isCompleted ? 'todo-task-complete' : 'todo-task-incomplete'"
      >
        {{ task.name }}
      </div>
    </div>
    </div>
  </div>
  <div class="card-footer pt-0" style="background-color: transparent; border: 0;">
    <p class="card-text" style="color: lightgray; font-size: smaller;">
      {{todo.createdAt}}
    </p>
  </div>
</div>