<div class="drawer">
  <div routerLink="/" class="drawer-overlay"></div>
  <div class="shadow drawer-component ps-5 pe-2 py-5">
    <div *ngIf="!loading" class="row flex-column justify-content-between h-100">
      <form
        class="row flex-column justify-content-between h-100"
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
      >
        <div class="col overflow-y-auto pe-3 pb-5">
          <h1 *ngIf="todo.isArchived" class="px-2" style="font-weight: 700; font-size: xx-large; color: lightgrey;">Archived</h1>

          <input
            formControlName="name"
            type="text"
            class="form-control mb-4"
            placeholder="Enter todo name"
            style="
              border: 0;
              font-size: xx-large;
              font-weight: bold;
              color: black;
            "
            required
          />
          <div class="container mb-4">
            <div class="row mb-3">
              <label class="col-1 me-3" style="color: lightgray">Tags</label>
              <div class="col" style="color: gray">
                <app-tags formControlName="tagSelector" [defaultValues]="todo.tags" />
              </div>
            </div>
            <div class="row">
              <label class="col-1 me-3" style="color: lightgray">Date</label>
              <div class="col" style="color: gray">{{ todo?.createdAtFormatted }}</div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <i class="bi bi-plus-lg m-0" style="color: lightgray"></i>
            </span>
            <input
              formControlName="taskInput"
              type="text"
              class="form-control"
              (keypress)="addTask($event)"
              placeholder="Add Task"
              style="
                padding: 0;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid lightgray;
                color: gray;
              "
            />
          </div>
          <div class="mb-4">
            <app-color-picker formControlName="colorPicker" />
          </div>
          <div
            class="row flex-row align-items-center task-parent"
            *ngFor="let task of form.get('tasks')?.value; let i = index"
          >
            <div
              [style.background-color]="task?.color"
              class="col flex-grow-1 todo-task py-2 px-3 mb-1"
              (click)="completeTask(i)"
            >
              <div class="form-check me-3">
                <input
                  readonly
                  class="form-check-input rounded-circle"
                  type="checkbox"
                  [checked]="task?.isCompleted"
                  style="cursor: pointer"
                />
              </div>
              <div
                [class]="
                  task?.isCompleted
                    ? 'todo-task-complete'
                    : 'todo-task-incomplete'
                "
              >
                {{ task?.name }}
              </div>
            </div>
            <div class="delete-hide col-1 px-0 ms-3" style="display: none">
              <button
                type="button"
                (click)="archiveTask(i)"
                class="shadow-sm btn btn-sm rounded"
              >
                <i class="bi bi-trash3" style="color: gray"></i>
              </button>
            </div>
          </div>
          <div *ngIf="showArchivedTasks" style="margin-top: 200px">
            <h6 style="font-size: x-large; font-weight: bold; color: lightgray">
              Archived Tasks
            </h6>
            <hr class="mb-3" style="color: grey" />

            <div
              class="row flex-row align-items-center"
              *ngFor="
                let task of form.get('archivedTasks')?.value;
                let i = index
              "
            >
              <div
                [style.background-color]="task?.color"
                class="col flex-grow-1 todo-task archived-task py-2 px-3 mb-1"
              >
                <div class="form-check me-3">
                  <input
                    disabled
                    class="form-check-input rounded-circle"
                    type="checkbox"
                    [checked]="task?.isCompleted"
                    style="cursor: pointer"
                  />
                </div>
                <div
                  [class]="
                    task?.isCompleted
                      ? 'todo-task-complete'
                      : 'todo-task-incomplete'
                  "
                >
                  {{ task?.name }}
                </div>
              </div>
              <div class="col-1 px-0 ms-3">
                <button
                  type="button"
                  (click)="restoreTask(i)"
                  class="shadow-sm btn btn-sm rounded"
                >
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1 w-100 pt-3">
          <footer class="row align-items-center justify-content-between w-100">
            <div class="col-3">
              <button
                *ngIf="form.get('name')?.dirty"
                [disabled]="
                  !form.valid ||
                  form.get('tasks')?.value?.length == 0 ||
                  submitting
                "
                type="submit"
                class="btn btn-primary btn-sm px-3"
              >
                {{ submitting ? "Saving..." : "Save" }}
              </button>
            </div>
            <div class="col px-0">
              <div
                class="d-flex flex-row justify-content-end align-items-center"
              >
                <button
                  type="button"
                  (click)="toggleArchivedTasks()"
                  class="shadow-sm btn btn-sm rounded me-2"
                  style="color: gray"
                >
                   ({{ form.get('archivedTasks')?.value?.length }}) {{ showArchivedTasks ? "Hide" : "Show" }} archived
                </button>

                <button
                  type="button"
                  *ngIf="todo.isArchived"
                  (click)="handleArchiveTodo()"
                  class="shadow-sm btn btn-sm rounded"
                >
                  <i class="bi bi-plus-lg me-2" style="color: gray"></i>
                  Restore
                </button>

                <button
                  type="button"
                  *ngIf="!toggleTodoArchive && !todo.isArchived"
                  (click)="handleToggleArchive()"
                  class="shadow-sm btn btn-sm rounded"
                >
                  <i class="bi bi-trash3" style="color: gray"></i>
                </button>

                <div
                  *ngIf="toggleTodoArchive"
                  class="d-flex flex-row align-items-center"
                >
                  <button
                    type="button"
                    (click)="handleArchiveTodo()"
                    class="shadow-sm btn btn-sm btn-primary rounded d-flex flex-row me-1"
                  >
                    <i class="bi bi-trash3 me-2"></i>
                    Archive
                  </button>
                  <button
                    type="button"
                    (click)="handleToggleArchive()"
                    class="shadow-sm btn btn-sm btn-secondary rounded d-flex flex-row"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </form>
    </div>
    <div *ngIf="loading && !error">Loading...</div>
    <div *ngIf="error" style="color: lightgrey;">
      ❌  No todo is found...
    </div>
    
  </div>
</div>
