<div class="container-md my-5" style="position: relative;">
  <nav class="container mb-4 px-0">
    <h1 class="col" style="font-weight: 700">Todo App</h1>
    <div class="d-flex flex-row align-items-center justify-content-end">
      <button (click)="toggleArchive()" class="shadow-sm btn btn-sm rounded me-2" style="color: gray;">
       {{showArchives ? 'Hide' : 'Show'}} archives
      </button>
        <button routerLink="/todos/add" class="btn btn-primary btn-sm">New</button> 
    </div>
    <hr class="mb-5" style="color: grey;" />
  </nav>
  <app-todo-list [showArchives]="showArchives"/>
  <router-outlet />
</div>