<form
  [formGroup]="tagSelectorForm"
  class="d-flex flex-row align-items-center flex-wrap"
>
  <div *ngFor="let tag of tagSelectorForm.get('values')?.value; let i = index">
    <button
      (click)="removeTag(i)"
      type="button"
      class="shadow-sm btn btn-sm rounded me-1"
    >
      #{{ tag?.name }}
    </button>
  </div>
  <button
    *ngIf="!toggleAddTag && !readOnly"
    type="button"
    (click)="toggleAdd()"
    class="shadow-sm btn btn-sm rounded"
  >
    <i class="bi bi-plus-lg me-1" style="color: gray"></i>
    New
  </button>
  <div *ngIf="toggleAddTag" class="input-group w-auto">
    <span class="input-group-text bg-transparent border-0 pe-1 py-0 ps-0">
      <i class="bi bi-hash m-0" style="color: gray"></i>
    </span>
    <input
      type="text"
      autofocus
      class="form-control"
      placeholder=""
      style="
        padding: 0;
        border: 0;
        border-radius: 0;
        height: 30px;
        border-bottom: 1px solid lightgray;
        color: gray;
        width: 10ch;
        max-width: 10ch;
        line-height: 1;
      "
      (keypress)="addTag($event)"
    />
    <button
      type="button"
      (click)="toggleAdd()"
      class="shadow-sm btn btn-sm rounded py-0 ms-2"
      style="height: 30px"
    >
      <i class="bi bi-trash3" style="color: gray"></i>
    </button>
  </div>
</form>
